<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.6.xsd">
    <!-- 连接服务配置  -->
    <rabbit:connection-factory id="connectionFactory" host="192.168.174.128" username="huangxing"
                               password="huangxing" port="5672" publisher-confirms="true" />

    <rabbit:admin connection-factory="connectionFactory" />

    <!-- queue 队列声明-->
    <rabbit:queue  id="task_queue_spring"  durable="true" auto-delete="false" exclusive="false" name="task_queue_spring"/>

    <!-- queue 队列声明-->
    <rabbit:queue  id="task_reply_queue_spring"  durable="true" auto-delete="false" exclusive="false" name="task_reply_queue_spring"/>

    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange  name="task_exchange"  durable="true" auto-delete="false" id="task_exchange">
        <rabbit:bindings>
            <rabbit:binding queue="task_queue_spring" key="task_queue_spring"/>
            <rabbit:binding queue="task_reply_queue_spring" key="task_reply_queue_spring"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- spring amqp默认的是jackson 的一个插件,目的将生产者生产的数据转换为json存入消息队列，由于fastjson的速度快于jackson,这里替换为fastjson的一个实现 -->
    <bean id="jsonMessageConverter"  class="com.rabbit.utils.FastJsonMessageConverter"></bean>


    <!-- spring template声明-->
    <rabbit:template exchange="task_exchange" id="amqpTemplate"  connection-factory="connectionFactory"  message-converter="jsonMessageConverter" />

    <bean id="consumer"  class="com.rabbit.spring.Consumer"></bean>
    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" idle-event-interval="2000" >
        <rabbit:listener queues="task_queue_spring" ref="consumer" />
    </rabbit:listener-container>




    <!-- spring template声明-->
    <rabbit:template exchange="task_exchange" id="amqpReplyTemplate"  connection-factory="connectionFactory" message-converter="jsonMessageConverter"    />

    <bean id="replyConsumer"  class="com.rabbit.spring.ReplyConsumer"></bean>

    <bean class="com.rabbit.spring.IdleEventHandleListener"/>
    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" message-converter="jsonMessageConverter" prefetch="1"
                               idle-event-interval="1000"  >
        <rabbit:listener queues="task_reply_queue_spring" ref="replyConsumer" method="handleMessage" id="task_reply_queue_spring_listener" />
    </rabbit:listener-container>
</beans>